<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sourcepro.configurationSource" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.ConfigurationSourceSection, SourceProStudio.Practices.FoundationLibrary.Commons.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12442ff8778fc7c3"/>
    <sectionGroup name="sourcepro.data" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseSectionGroup, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8">
      <section name="defaultOptions" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DefaultDatabaseOptionsSection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
      <section name="databaseConnections" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseConnectionSection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
      <section name="databaseProtections" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabasePropertyProtectionSection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
      <section name="databaseProviders" type="SourcePro.Csharp.Practices.FoundationLibrary.Commons.Configuration.DatabaseAccessProviderSection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
    </sectionGroup>
  </configSections>

  <sourcepro.configurationSource xmlns="https://github.com/SourceproStudio">
  </sourcepro.configurationSource>

  <sourcepro.data xmlns="https://github.com/SourceproStudio">
    <defaultOptions defaultDatabaseConnection="LocalDatabase" defaultDatabaseProtection="NoneProtection" defaultDatabaseProvider="Microsoft.Products.SqlServer"/>
    <databaseConnections>
      <add name="LocalDatabase" defaultSechema="dbo" connectionString="" provider="" commandTimeoutSeconds="0"></add>
    </databaseConnections>
    <databaseProtections>
      <add name="NoneProtection" type="SourcePro.Csharp.Practices.FoundationLibrary.Data.Protections.NoneProtection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
      <add name="Base64Protection" type="SourcePro.Csharp.Practices.FoundationLibrary.Data.Protections.Base64Protection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
      <add name="HexNumberProtection" type="SourcePro.Csharp.Practices.FoundationLibrary.Data.Protections.HexProtection, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
    </databaseProtections>
    <databaseProviders>
      <add name="Microsoft.Products.SqlServer" type="SourcePro.Csharp.Practices.FoundationLibrary.Data.SqlClient.SqlDatabase, SourceProStudio.Practices.FoundationLibrary.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12e9b48ca56273d8"/>
    </databaseProviders>
  </sourcepro.data>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
